<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>
<p>
  <strong>Chef Name:</strong>
  <%= @restaurant.chef_name %>
</p>

</p>
<p>
  <strong>Review:</strong>
  <% @restaurant.reviews.each do |r| %>
    <p><%=r.content%></p>
    <p><%= link_to "Remove",
                  review_path(r),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </p>
  <%end%>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
